/* Parte do Cabeçalho */

.top-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content:start;
    width: 25%;
}

.logo h1{
    font-size: 1.3rem;
    align-self: flex-end;
    color: #270570;
    padding-bottom: 5px;
}

.social-network{
    display: flex;
}

.img-and-title{
    display: flex;
}

.img-and-title p {
    padding-top: 10px;
}

/* Parte das Passagens */

.tickets {
    background-color: #270570;
    color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

h2, h3 {
    margin-left: 10px;
}

.radio-buttons {
    border-bottom: 2px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.travel-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.travel-local {
    display: flex;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.dates {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.dates input {
    width: 40%;
    margin-left: 7px;
}

.footer {
    background-color: #270570;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
}

#email {
    margin-bottom: 5px;
}

/* Parte Destinos Mais Buscados */

.destination-and-offers{
    display: flex;
}

.destinations-most-searched, .offers-box{
    width: 50%;
    margin: 20px;
}

.top-destinations {
    display: flex;
    height: 80%;
    margin: 3px;
    padding: 3px;
}

.destinations {
    width: 48%;
    margin-right: 10px;
}

.top-destinations img {
    height: 80%;
}

/* Página de Destinos Estilizações */

.carousel-part{
    width: 100%;
    background-color: #2183a2;
    display: flex;
    justify-content: center;
}

.carousel-box {
    width: 80%;
}

.carousel-img {
    max-height: 400px;
}

.carousel-img img{
    width: 100%;
    filter: brightness(50%);
}

/* Cards de viagens */
.gallery h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.gallery a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.card-buy {
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.card-buy:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translate(0px, -8px);
    transition: .6s;
}

.card-buy img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card-buy p {
    text-align: center;
    color: #b2bec3;
    padding: 0 8px;
}

.card-buy h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.card-buy ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.card-buy li {
    padding: 5px;
}

.fa {
    color: #ff9f43;
    font-size: 26px;
    transition: .4s;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

.card-buy button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border:0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buy-color  {
    background-color: #3b3e6e;
}

/* Página de Contatos */

.contato {
    display: flex;
    flex-direction: column;
}

.button {
    margin: 20px 0;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info section {
    width: 45%;
    margin-right: 20px;
}

/* Estilos para Mobile */

@media(max-width: 960px){
    .logo h1{
        display: none;
    }
    .img-and-title p{
        display: none;
    }
    .tickets{
        width: 100%;
    }
    .travel-inputs{
        flex-direction: column;
    }
    .travel-local{
        flex-direction: column;
    }
    .destination-and-offers{
        flex-direction: column;
    }
    .destinations-most-searched, .offers-box{
        width: 100%;
        margin: 0px;
    }
    .carousel-caption p{
        display: none;
    }
    .card-buy{
        width: 46%;
    }
    .info{
        flex-direction: column;
    }
    .info section {
        width: 100%;
    }
}
@media(max-width: 750px){
    .card-buy{
        width: 100%;
    }
}